<!-- Review Card -->
{% if product.reviews.count > 0 %}
{% for review in product.reviews.all %}
<div class="card card-body mb-2">
    <!-- Review Rating -->
    <p class="review-card-content"><small>{{ review.review_rating }} / 5 <i class="fas fa-star"></i></small></p>
    <!-- Review User and Date-->
    <p><small class="text-muted">{{ review.user_profile }} | {{ review.created_on }}</small></p>
    <!-- Review Title -->
    <h5 class="card-title">{{ review.review_title }}</h5>
    <!-- Reivew Content -->
    <p class="card-text">{{ review.review_content }}</p>
</div>
{% endfor %}
{% else %}
{% if request.user.is_authenticated %}
<!-- If no review -->
<div class="card card-body mb-2">
    <h5 class="card-title">This product does not currently have any reviews</h5>
    <p class="card-text text-muted">Already purchased this product? Please help others and add a review.</p>
    <button class="js-add-review btn btn-black btn-outline-black rounded-0"
        data-url="{% url 'add_review' product.id %}">
        add review
    </button>
</div>
{% else %}
<!-- If no review -->
<div class="card card-body mb-2">
    <h5 class="card-title">This product does not currently have any reviews</h5>
    <p class="card-text text-muted">Already purchased this product? Please login to add a review</p>
</div>
{% endif %}
{% endif %}