html {
    height: 100%;
}

body {
    height: calc(100vh - 164px);
    background-color: rgb(252, 147, 147);
    color: black;
    font-family: 'Kaushan Script';

}

.Oswald {
    font-family: 'Oswald';
}

.text-size {
    font-size: 20px;
}

/* from Bulma - All icons will be the same size */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}


/* NavBar */
#topnav {
    background-color: black;
}

/* Logo */
.main-logo-link {
    width: fit-content;
}

/* Slider */
.carousel-caption {
    margin-bottom: 5%;
    background: rgb(0, 0, 0, 0.6);
    padding: 50px 100px;
}

.carousel-caption h5{
    font-size: 50px;
}

.carousel-caption p{
    font-size: 20px;
}

/* Buttons */

.shop-now-button {
    background: rgb(252, 147, 147);
    color: rgb(0, 0, 0);
    min-width: 260px;
}

.btn-black {
    background: rgb(252, 147, 147);
    color: rgb(0, 0, 0);
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: rgb(252, 147, 147);
}

/* category styling */
.category-bg {
    background: black;
}

.navbar-light .navbar-toggler {
    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
}

.span
.navbar-toggler-icon {
    color: white;
}

/* Black class as Bootstrap does not have */
.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

/* overlay */

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}


/*  Badges */

a.category-badge > span.badge:hover {
    background: rgb(252, 147, 147)!important;
    color: rgb(0, 0, 0) !important;
}

/*  Scroll to top button */

.btt-button {
    height: 35px;
    width: 35px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link {
    cursor: pointer;
}
	
/*----------Product tab------------------*/

.product-tab {
  margin-top: 30px;
}

.product-tab .tab-nav {
  border-bottom: 1px solid #DADADA;
  margin-bottom: 30px;
}

.product-tab .tab-nav li {
  display: inline-block;
}

.product-tab .tab-nav li+li {
  margin-left: 30px;
}

.product-tab .tab-nav li a {
  display: block;
  padding: 15px 0px;
  text-transform: uppercase;
  font-weight: 700;
}

.product-tab .tab-nav li.active {
  position: relative;
}

.product-tab .tab-nav li.active a {
  color: #F8694A;
}

.product-tab .tab-nav li.active a:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1.5px;
  height: 3px;
  width: 30px;
  background-color: #F8694A;
}

.bg-pink {
    background-color: rgb(252, 147, 147) !important;
}

/*  Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 130px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 80px;
    }

    body {
        height: calc(100vh - 80px);
    }
}