html {
    height: 100%;
}

body {
    height: calc(100vh - 164px);
    background-color: rgb(252, 147, 147);
    color: black;
    font-family: 'Kaushan Script';

}

/* from Bulma - All icons will be the same size */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}


/* NavBar */
#topnav {
    background-color: black;
}

/* Logo */
.main-logo-link {
    width: fit-content;
}

/* Slider */
.carousel-caption {
    margin-bottom: 5%;
    background: rgb(0, 0, 0, 0.6);
    padding: 50px 100px;
}

.carousel-caption h5{
    font-size: 50px;
}

.carousel-caption p{
    font-size: 20px;
}

/* Buttons */

.shop-now-button {
    background: rgb(252, 147, 147);
    color: rgb(0, 0, 0);
    min-width: 260px;
}

.btn-black {
    background: rgb(252, 147, 147);
    color: rgb(0, 0, 0);
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: rgb(252, 147, 147);
}

/* category styling */
.category-bg {
    background: black;
}

.navbar-light .navbar-toggler {
    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
}

.span
.navbar-toggler-icon {
    color: white;
}

/* Black class as Bootstrap does not have */
.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 130px;
    }
}