{% load static i18n %}
<div class="modal-content Oswald">
    <div class="modal-body bg-pink">
        <div class="text-center">
            <h4 class="">Subscribe to our newsletter</h4>
        </div>
        <p class="text-center">Sign Up for Offers & Updates</p>
        <form method="post" action="{% url 'add_subscriber_form' %}" class="text-center js-add-subscriber-form">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="mb-2 text-center">
                <button type="submit" class="btn btn-black border border-black rounded-0" id="add-button">{% trans "subscribe" %}</button>
            </div>
        </form>
    </div>
</div>
<!-- /.modal-content -->