<div class="collapse navbar-collapse text-white" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="font-weight-bold nav-link text-white mr-5" href="{% url 'home' %}" id="home-link">
                HOME
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-white mr-5" href="#" id="all-products-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                WAX MELTS
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">BY PRICE</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">BY CATEGORY</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">BY RATING</a>
                <a href="{% url 'products' %}" class="dropdown-item">ALL PRODUCTS</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-white mr-5" href="#" id="category-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                CATEGORY
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="category-link">
                <a href="{% url 'products' %}?category=clean_fresh" class="dropdown-item">CLEAN &amp; FRESH</a>
                <a href="{% url 'products' %}?category=food_drink" class="dropdown-item">FOOD &amp; DRINK</a>
                <a href="{% url 'products' %}?category=fruity" class="dropdown-item">FRUITY</a>
                <a href="{% url 'products' %}?category=perfumes" class="dropdown-item">PERFUMES</a>
                <a href="{% url 'products' %}?category=floral" class="dropdown-item">FLORAL</a>
                <a href="{% url 'products' %}?category=woody_musk" class="dropdown-item">WOODY &amp; MUSK</a>
                <a href="{% url 'products' %}?category=clean_fresh,food_drink,fruity,perfumes,floral,woody_musk"
                    class="dropdown-item">All</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-white mr-5" href="#" id="packages-burner-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                SPECIALS
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="packages-burner-link">
                <a href="{% url 'products' %}?category=packages" class="dropdown-item">PACKAGES</a>
                <a href="{% url 'products' %}?category=melts_burners" class="dropdown-item">MELTS &amp; BURNERS</a>
                <a href="{% url 'products' %}?category=wax_melt_burners" class="dropdown-item">WAX BURNERS</a>
                <a href="{% url 'products' %}?category=packages,melts_burners,wax_melt_burners"
                    class="dropdown-item">ALL SPECIALS</a>
            </div>
        </li>
        <li class="nav-item">
            <span class="font-weight-bold nav-link text-white mr-5 pointer js-subscribe-modal"
                id="{% url 'add_subscriber' %}">
                SUBSCRIBE
            </span>
        </li>
    </ul>
</div>