<div class="collapse navbar-collapse text-white" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-white mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                WAX MELTS
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">BY PRICE</a>
                <a href="" class="dropdown-item ">BY CATEGORY</a>
                <a href="" class="dropdown-item">ALL PRODUCTS</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-white mr-5" href="#" id="category-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                CATEGORY
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="category-link">
                <a href="" class="dropdown-item">CLEAN &amp; FRESH</a>
                <a href="" class="dropdown-item">FOOD &amp; DRINK</a>
                <a href="" class="dropdown-item">FRUITY</a>
                <a href="" class="dropdown-item">PERFUME</a>
                <a href="" class="dropdown-item">FLORAL</a>
                <a href="" class="dropdown-item">WOODY &amp; MUSK</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-white mr-5" href="#" id="packages-burner-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                SPECIALS
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="packages-burner-link">
                <a href="" class="dropdown-item">PACKAGES</a>
                <a href="" class="dropdown-item">MELTS &amp; BURNERS</a>
                <a href="" class="dropdown-item">WAX BURNERS</a>
                <a href="" class="dropdown-item">ALL</a>
            </div>
        </li>

    </ul>
</div>