{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
            <div class="image-container">
                {% if product.image %}
                <a href="{{ product.image.url }}" target="_blank">
                    <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                </a>
                {% else %}
                <a href="">
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                </a>
                {% endif %}
            </div>
            {% if request.user.is_superuser %}
            <small>
                <a href="{% url 'edit_product' product.id %}">Edit</a> |
                <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
            </small>
            {% endif %}
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="product-details-container Oswald mb-2 mt-md-3">
                <p class="mb-0 lead product-text">{{ product.name }}</p> {% if product.weight %}
                <p class="mb-0">Weight: {{ product.weight }}</p>
                {% else %}
                <p>&nbsp;</p>
                {% endif %}
                <p class="mb-0 text-left mb-1">£{{ product.price }}</p>
                {% if product.category %}
                <p class="small mt-1 prate">
                    <a class="text-muted mb-1" href="{% url 'products' %}?category={{ product.category.name }}">
                        <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name}}
                    </a>
                </p>
                {% endif %}
                <div id="product-rating">
                    {% include 'products/includes/product_rating.html' %}
                </div>
                <nav>
                    <div>
                        <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                            {% csrf_token %}
                            <div class="form-row Oswald">
                                <div class="col-12">
                                    <p class="mt-3 text-size"><strong>Quantity:</strong></p>
                                    <div class="form-group w-50">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <button class="decrement-qty btn btn-black rounded-0"
                                                    data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                                                    <span class="icon">
                                                        <i class="fas fa-minus"></i>
                                                    </span>
                                                </button>
                                            </div>
                                            <input class="form-control qty_input" type="number" name="quantity"
                                                value="1" min="1" max="99" data-item_id="{{ product.id }}"
                                                id="id_qty_{{ product.id }}">
                                            <div class="input-group-append">
                                                <button class="increment-qty btn btn-black rounded-0"
                                                    data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                                                    <span class="icon">
                                                        <i class="fas fa-plus"></i>
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 mb-3">
                                    <a href="{% url 'products' %}" class="btn btn-black rounded-0 btn-lg">
                                        <span class="icon">
                                            <i class="fas fa-chevron-left"></i>
                                        </span>
                                        <span class="text-uppercase">Keep Shopping</span>
                                    </a>
                                    <input type="submit" class="btn btn-black rounded-0 btn-lg text-uppercase"
                                        value="Add to Bag">
                                </div>
                                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            </div>
                        </form>
                    </div>
                    <div class="nav Oswald nav-tabs text-black" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link text-black active" id="nav-home-tab" data-toggle="tab"
                            href="#nav-description" role="tab" aria-controls="nav-description"
                            aria-selected="true">Product Detail</a>

                        <a class="nav-item text-black nav-link" id="nav-profile-tab" data-toggle="tab"
                            href="#nav-reviews" role="tab" aria-controls="nav-reviews" aria-selected="false">Reviews</a>

                        <a class="nav-item text-black nav-link" id="nav-review-tab" data-toggle="tab"
                            href="#nav-write-review" role="tab" aria-controls="nav-write-review"
                            aria-selected="false">Write Review</a>
                    </div>
                </nav>
                <div class="tab-content mt-3" id="nav-tabContent">
                    <div class="tab-pane fade show active Oswald text-muted" id="nav-description" role="tabpanel"
                        aria-labelledby="nav-home-tab">
                        {{ product.description }}
                    </div>
                    <div class="tab-pane fade reviews-height" id="nav-reviews" role="tabpanel"
                        aria-labelledby="nav-reviews">
                        {% include 'products/includes/product_reviews.html' %}
                    </div>
                    <div class="tab-pane fade Oswald text-muted" id="nav-write-review" role="tabpanel"
                        aria-labelledby="nav-home-tab">
                        {% if request.user.is_authenticated %}
                        <!-- If no review -->
                        <div class="card card-body mb-2">
                            <p class="card-text">Already purchased this product? Please help others and add a review.
                            </p>
                            <button class="js-add-review btn btn-black btn-outline-black rounded-0"
                                data-url="{% url 'add_review' product.id %}">
                                add review
                            </button>
                        </div>
                        {% else %}
                        <!-- If no review -->
                        <div class="card card-body mb-2">
                            <p class="card-text">Already purchased this product? Please login to add a review</p>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}